{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<html>
<br>
<div class="w3-container">
    <p>Retrouverez ici les différentes annonces.</p>

    {{form(form)}}
</div>



</html>{% endblock %}