{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<!--Ici on vérifie que le user est bien connecté-->
{% if app.user %}

<div class="w3-container w3-center">
    <!--On vérifie qu'il contient bien un RIB pour voir si c'est bien un employe-->
    {% if app.user.rib is defined %}
    <h1>Vous êtes un employe</h1>
    {% else %}
    <h1>Vous êtes un user</h1>
    {% endif %}
    <h2>Bienvenue {{app.user.nom |upper}} {{app.user.prenom}} !</h3>
        <div>
            <a href="{{path('app_forgot_password_request')}}">Rénitialiser votre mot de passe</a>
        </div>
        <p>Vous pouvez modifer ici vôtre RIB,...</p>
        {{form(form)}}

</div>
{% else %}
<h2>Vous ne pouvez pas accéder à cette page</h2>
{% endif %}
{% endblock %}