{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau projet{% endblock %}

{% block body %}
<div class="w3-center">
    <h1>Créer un nouveau un projet</h1>
    <p>Donnez lui un nom, un cout estimé et attruibuez lui une équipe !</p>
    {{form(form)}}
</div>
{% endblock %}