{% extends 'base.html.twig' %}

{% block title %}Ajout Employe{% endblock %}

{% block body %}
<div class="w3-container w3-center">
    <h2>Ajout d'un employé</h2>
    {{form(form)}}
</div>

{% endblock %}