{% extends 'base.html.twig' %}

{% block title %}Ajout Equipe{% endblock %}

{% block body %}
<div class="w3-center">
    <h1>Créer un nouveau une nouvelle équipe</h1>
    <p>Donnez lui un nom et attribuez lui des développeurs !</p>
</div>
<div class="w3-container">
    {{form(form)}}
</div>

{% endblock %}