{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mentions Légales{% endblock %}

{% block body %}



<h1 class="w3-container w3-center"> Mentions Légales</h1>


<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-padding-16">RGPD
    </h3>

</div>


<div class=" w3-border-bottom w3-border-light-grey w3-container">
    <p>RGPD signifie Règlement Général sur la Protection des Données.

        <br> La réglementation indispensable a prendre en compte durant le développement de votre site web</p>
</div>



<h3 class="w3-container w3-padding-16">
    Point important sur les données personnelles :</h3>
<h4 class="w3-container">
    De quoi il s’agit ? </h4>

<div class=" w3-container">
    Un utilisateur possède un grand nombre de données permettent de l’identifié,<br>
    il peut s’agir d’une photo, une adresse ou un numéro de téléphone ou encore des données très confidentiel comme :<br>
    <ul>


        <li> le numéro IBAN,</li>
        <li> le numéro de sécurité sociale</li>
        <li> les mots de passe</li>
        <li> les données biométriques</li>
        <li> enregistrement de caméras</li>
        <li> relevé bancaire</li>
        <li>etc...</li>
    </ul>
</div>


<h4 class="w3-container w3-padding-16">
    Qui est concerné ? </h4>


<p>Le RGPD concerne les entrep[]rises, organismes ou hébergeurs mais aussi les intégrateurs de logiciels et agences de communication,<br>
    ainsi que toutes les entreprises manipulant des données personnel qui son soumise a la loi qui est Européenne.</p>
<br>
<h4 class="w3-container w3-padding-16">Points a respecter</h4>

<p class="w3-margin-left"></p>
Traitement des données personnelle :
<br>
<p class="w3-container w3-padding-16">

    Seule les données strictement nécessaires doivent être demandées.<br>
    Les données doivent être collectées dans un but déterminé, en relation avec l’objectif initial.<br>
    Le principe de finalité consiste a ne pas collecter de données “ au cas où ”.<br>
</p>

La transparence et l’honnêteté :<br>
<p class="w3-container w3-padding-16">
    L’utilisateur doit être clairement informé de l’utilisation au moment de la collecte, Ne jamais les récupérer a leurs insu les personnes doivent être informées de leurs droits</p><br>
L'exercice des droits :<br>
<p class="w3-container w3-padding-16">
    Il faut organiser des modalités permettant aux personnes d’exercer leurs droits et répondre dans les meilleurs délais à ces demandes de consultation ou d’accès, de rectification ou de suppression des données, voire d’opposition</p><br>
Durées de conservation des données :<br>
<p class="w3-container w3-padding-16">
    Il est interdit de conserver les données indéfiniment, une fois utilisé pour la gestion de l’objectif elle doivent être détruites, anonymisées ou archivées.</p><br>
Sécurisation des données et les risques encourus :<br>
<p class="w3-container w3-padding-16">
    La sécurité des données est indispensable et doit être assuré dès le début, de la sécurité des locaux, armoires, ordinateur jusqu’au sécurité informatique avec des habilitations et droits d’accès</p>

{% endblock %}