{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mentions Légales{% endblock %}

{% block body %}

<h1 class="w3-container w3-center"> Mentions Légales</h1>


RGPD



<div class="w3-container">
    <p>RGPD signifie Règlement Général sur la Protection des Données.

        <br> La réglementation indispensable a prendre en compte durant le développement de votre site web</p>
</div>

Point important sur les données personnelles :
<p class="w3-margin-left">De quoi il s’agit ?</p>

Un utilisateur possède un grand nombre de données permettent de l’identifié,
il peut s’agir d’une photo, une adresse ou un numéro de téléphone ou encore des données très confidentiel comme :

• le numéro IBAN,
• le numéro de sécurité sociale
• les mots de passe
• les données biométriques
• enregistrement de caméras
• relevé bancaire
etc...


Le RGPD concerne les entreprises, organismes ou hébergeurs mais aussi les intégrateurs de logiciels et agences de communication,
toutes entreprises manipulant des données personnel son soumise a la loi qui est Européenne.

Traitement des données personnelle :

Seule les données strictement nécessaires doivent être demandées.
Les données doivent être collectées dans un but déterminé, en relation avec l’objectif initial.
Le principe de finalité consiste a ne pas collecter de données “ au cas où ”.







La transparence et l’honnêteté :

L’utilisateur doit être clairement informé de l’utilisation au moment de la collecte,
Ne jamais les récupérer a leurs insu les personnes doivent être informées de leurs droits

L'exercice des droits :

Il faut organiser des modalités permettant aux personnes d’exercer leurs droits et répondre dans les meilleurs délais à ces demandes de consultation ou d’accès,
de rectification ou de suppression des données, voire d’opposition

Durées de conservation des données :

Il est interdit de conserver les données indéfiniment, une fois utilisé pour la gestion de l’objectif elle doivent être détruites, anonymisées ou archivées.

Sécurisation des données et les risques encourus :

La sécurité des données est indispensable et doit être assuré dès le début,
de la sécurité des locaux, armoires, ordinateur jusqu’au sécurité informatique avec des habilitations et droits d’accès




{% endblock %}