<h1>Bonjour !</h1>

<p>Bienvenue chez simpleDuc, un compte à été créer avec vôtre adresse email</p>
<p>Voici le mot de passe : <strong>{{password}}</strong></p>
<p>Vous pourrez le changer par la suite dans vôtre backoffice</p>

<p>Cordialement</p>